.navigationLink {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: "Barlow condensed", sans-serif;
    font-size: 1rem;
    letter-spacing: 2.7px; 
    padding: 40px 0;
    border-bottom: 2px solid transparent;
}

.navigationLink:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.navigationLink.active {
    border-bottom: 2px solid white;
}

@media screen and (min-width: 1301px) {
    .navigationLink::before {                        
        content: '0'attr(datalinknumber);
        padding-right: 1rem;
        font-weight: 700;
    }
}

@media screen and (max-width: 1300px) {
    .navigationLink {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 560px) {
    .navigationLink {
        padding: 0;
        border-bottom: none;
    }

    .navigationLink:hover {
        border-bottom: none;
    }

    .navigationLink.active {
        border-bottom: none
    }
}