@use "../../scss/vars";

.page {
    margin-bottom: 50px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imageBlock,
.tabBlock {
    margin-top: 50px;
    flex-basis: 50%;
}

.imageBlock {
    animation: fade 0.3s linear;
}

@keyframes fade {
    from {
        // transform: translateX(-100px);
        transform: translateZ(100px) perspective(200px);
    }
    // 50% {
    //     opacity: 0.5;
    // }
    to {
        // opacity: 1;
        // transform: translateX(0);
        transform: translateZ(0) perspective(200px);
    }
}

@media screen and (#{vars.$tablet-breakpoint}) {
    .imageBlock {
        flex-basis: 100%;
    }

    .imageBlock {
        text-align: center;
    }

    .imageBlock > img {
        width: 300px;
    }
}


@media screen and (#{vars.$mobile-breakpoint}) {
    .imageBlock > img {
        width: 170px;
    }

    .tab {
        font-size: 0.875rem;
        letter-spacing: 2.36px;
    }
}