@use "../../scss/vars";

.header {
    display: flex;
    align-items: center;
    margin-top: var(--headerMarginTop);
}

.hr {
    flex-grow: 1;
    margin-right: -30px;
    z-index: 10;
}

.logo {
    --logoMarginLeft: var(--containerTabletMargin);
    --logoMaxWidth: var(--headerMobileMaxHeight);
    margin: 0 calc(var(--containerMargin) - (var(--logoMaxWidth) + var(--logoMarginLeft))) 0 var(--logoMarginLeft);
    max-width: var(--logoMaxWidth);
}

@media screen and (#{vars.$tablet-breakpoint}) {     
    .header {
        margin-top: 0;
    }

    .hr {
        display: none;
    }
}

@media screen and (#{vars.$mobile-breakpoint}) {
    .header {
        margin-top: var(--headerMarginTop);
        max-height: var(--headerMobileMaxHeight);
    }

    .mobileMenuButton {
        margin-left: auto;
    }
}