@font-face {
    font-family: Barlow;
    src: url("./assets/fonts/Barlow/Barlow-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("./assets/fonts/BarlowCondensed/BarlowCondensed-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Bellefair";
    src: url("./assets/fonts/Bellefair/Bellefair-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

:root {
    --containerMargin: 167px;
    --containerTabletMargin: 40px;
    --headerMarginTop: 40px;
    --headerMobileMaxHeight: 40px;
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    line-height: 32px;
    font-family: Barlow, sans-serif;
    color: white;
    background-repeat: no-repeat;    
    background-size: cover;
    background-attachment: fixed;
}

img {
    height: auto;
}

.container {
    margin-left: var(--containerMargin);
    margin-right: var(--containerMargin);
}

.upcase {
    text-transform: uppercase;
}

.heading-5 {
    font-size: 28px;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 4.725px;
}

.heading-1 {
    font-size: 150px;
    font-family: Bellefair, sans-serif;
    letter-spacing: 4.725px;
}

.regular-text {
    font-size: 18ps;
    line-height: 32px;
}

@media screen and (max-width: 768px) {
    .container {
        margin-left: var(--containerTabletMargin);
        margin-right: var(--containerTabletMargin);
    }

    .heading-1 {
        font-size: 150px;
    }

    .heading-5 {
        font-size: 20px;
    }

    .regular-text {
        font-size: 16px;
        line-height: 28px;
    }
}

@media screen and (max-width: 425px) {
    .heading-1 {
        font-size: 80px;
    }

    .heading-5 {
        font-size: 16px;
    }

    .regular-text {
        font-size: 15px;
        line-height: 25px;
    }
}