.tab {
    padding-bottom: 15px;
    font-family: "Barlow condensed", sans-serif;
    font-size: 1rem;
    letter-spacing: 2.7px;
    border-bottom: 2px solid transparent;
}

.tab:hover {
    border-bottom-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.tab.active {
    border-bottom-color: rgba(255, 255, 255);
}
